.footer {
  background-color: black;
  color: white;
}

.footer-section {
  display: inline-block;
  padding: 5px;
  padding-right: 10px;
  
  font-size: 10px;
}
.footer-section:not(:last-child) {
  border-right: 1px solid gray;
}
.footer-section:not(:first-child) {
  margin-left: 15px;
}

.footer-section-header {
  font-size: 13px;
}